*{
    box-sizing: border-box;
}

body{
    background-color:tomato;
    background-size : 100%;
    background-repeat:no-repeat;
    color : #fff;
    font-family : indie flower;
    }
  h3{
    display:inline;
  }
  #start{
    margin-top:15px;
  }
  